* {
    box-sizing: border-box;
    font-family: arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #1E1E2E;
}

/* =============== index.html =============== */

/* Navbar */

header {
    /* position: fixed;
    top: 0; */
    /* z-index: 9999; */
    width: 100%;
    background-image: linear-gradient(#35AFE4, #48EAC4);
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
}

.navbar {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.navbar a {
    text-decoration: none;
}

.logo {
    color: black;
    font-size: 30px;
    padding: 15px;
    font-weight: bold;
}

.info{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;

}

.info-tabs{
    width: 30%;
    height: 200px;
    background-color: #293146;
    margin: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-tabs .heading{
    left: 50%;
    top: -35px;
    transform: translate(-50%,0);
    position: absolute;
    color: white;
    background-image: linear-gradient(#7D3F9C, #D750D5);
    padding: 10px 20px;
    border-radius: 5px;
}

.info-tabs .details{
    width: 80%;
    height: 70%;
    background-color: #dddddd;
    margin: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-tabs .details input[type=number]{
    margin: 10px 0;
    width: 225px;
    padding: 10px;
}

.search{
    padding: 10px;
    cursor: pointer;
    color: white;
    background-color: red;
    border: none;
    border-radius: 5px;
    border: 1px solid red;
}

.search:hover{
    background-color: green;
    border: 1px solid green;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* =============== users.html =============== */

/* Customer data */

.main-container{
    display: flex;
    flex-direction: row;
}

.dashboard{
    width: 20%;
    height: 400px;
    margin: 40px 20px; 
    background-color: #293146;
    position: relative;
    border-radius: 10px;
}

.dashboard-heading{
    position: absolute;
    color: white;
    background-image: linear-gradient(#7D3F9C, #D750D5);
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
    left: 50%;
    top: -35px;
    transform: translate(-50%,0);
}

.dashboard-details{
    padding: 0;
    margin: 50px 20px;
    height: 400px;
}

.dashboard-details a{
    text-decoration: none;
}

.dashboard-details li{
    list-style-type: none;
    text-align: center;
    padding: 20px 0;
    border-radius: 10px;
    color: white;
}

.dashboard-details .active{
    background-image: linear-gradient(#35AFE4, #48EAC4);
}

.detail-heading {
    margin: 20px 0;
    text-align: center;
    color: white;
}

.container {
    margin: 20px 50px 20px 0;
    width: 80%;
}

#myInput {
    /* background-image: url('/css/searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat; */
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid black;
    margin-bottom: 12px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #202940;
    color: white;
}

td, th {
    text-align: center;
    border: 1px solid black;
}

td {
    padding: 10px 0;
}

th {
    padding: 20px 0;
}

thead {
    background-color: #8A359F;
}

.view {
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    background-image: linear-gradient(#7D3F9C, #D750D5);
    color: white;
    border-radius: 5px;
}

/* =============== profile.html =============== */

.profile{
    width: 100%;
    background-color: #dddddd;
    height: 340px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.profile ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0;
    margin: 20px 50px;
}

.profile li{
    list-style-type: none;
    padding: 20px 0;
}

.profile .result{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.transfer-table{
    width: calc(100% - 80px);
    margin: 0 40px;
}

/* =================== transfer.html ============== */

.transfer{
    width: 100%;
    background-color: #dddddd;
    height: 340px;
    border-radius: 20px;
    position: relative;
}

.partition{
    width: 2px;
    height: calc(100% - 40px);
    background-color: grey;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
    margin: 20px 0;
}

.transfer-btn{
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    background-image: linear-gradient(#7D3F9C, #D750D5);
    color: white;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    z-index: 10;
}

.acc-header{
    text-align: center;
    margin: 10px;
}

.acc2 input{
    float: right;
}

.acc1, .acc2{
    width: 50%;
    height: 100%;
    padding: 20px;
    float: left;
}

.transfer input{
    width: 90%;
    margin: 10px 0;
    padding: 10px;
}

.msg{
    width: calc(100% - 40px);
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    color: black;
}

.success{
    background-color: lightgreen;
}

.error{
    background-color: lightcoral;
}