<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Transfer</title>
</head>

<body>
    {% for message in messages %}
    <div class="msg {{ message.tags }}">Messages: {{message}}</div>
    {% endfor %}
    <div class="main-container">
        <div class="dashboard">
            <p class="dashboard-heading">Dashboard</p>
            <ul class="dashboard-details">
                <a href="/">
                    <li><span><i class="fa fa-home" aria-hidden="true"></i></span> Home</li>
                </a>
                <a href="/users/">
                    <li><span><i class="fa fa-user" aria-hidden="true"></i></span> Users</li>
                </a>
                <a href="#">
                    <li class="active"><span><i class="fa fa-exchange" aria-hidden="true"></i></span> Transfer</li>
                </a>
            </ul>
        </div>
        <div class="container">
            <h1 class="detail-heading">Transfer</h1>
            <div class="transfer">
                <form action="/handletransfer/" method="POST">
                    {% csrf_token %}
                    <div class="acc">
                        <select class="select-user" name="sender">
                            <option value="0" disabled selected>Sender's Details</option>
                            {% for i in customer %}
                            <option value="{{i.id}}">{{i.cust_name}} (Balance: &#x20B9; {{i.cust_balance}})
                            </option>
                            {% endfor %}
                        </select>
                        <select class="select-user" name="receiver">
                            <option value="0" disabled selected>Receiver's Details</option>
                            {% for i in customer %}
                            <option value="{{i.id}}">{{i.cust_name}} (Balance: &#x20B9; {{i.cust_balance}})
                            </option>
                            {% endfor %}
                        </select>
                        <input type="number" name="bal" placeholder="Amount in Rs /-" required>
                        <input type="text" name="comment" placeholder="Any Comments" maxlength="50">
                        <button class="transfer-btn" type="submit">Transfer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="/static/js/index.js"></script>
</body>

</html>